
:root{                           /* Color Scheme */
    --primary-color: #fcf6f6; /* forest green*/
    --secondary-color: #ebbd98; /*warm sand*/
    --accent1-color: #1b404e; /* dark slate blue*/
    --accent2-color: black; /* light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header {
    background-color:var(--secondary-color);
    color: black;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
}
.navigation {
    display: flex;
    justify-content: center;
}
.navigation li{
    list-style-type: none;
    background-color: var(--primary-color);
    border: .5px solid black;
    padding: 10px;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin:0 auto;
} 
h1, h2 {
    font-family: var(--heading-font);
    color:var(--primary-color);
    background-color: rgb(25, 43, 63);
    text-align: center;
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color); /*White text -make sure there is enough contrast with the background-color */
}
article { 
    position: absolute ;
    top: 400px;
    left: 30px;
    font-family: var(--heading-font);
    font-size: medium;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    opacity: .8;
}

.hero article img {
    float: right;
    width:125px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0/ 10%);    
}
.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr;
    row-gap:  0.4em;
}
.history h2{
    grid-column: span 3;
}
.history img{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 250px;
    height: auto;
    order: 2;
}

.adventure img{
    width: 85px;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}
.adventure h2{
    grid-column: span 5;
}
.footer{
    display: grid;
    grid-template-columns: 40rem 1fr;
    justify-content: center;
}
.footer p{
    display: flex;
    place-items: center;
    justify-content: center;
}
.socialmedia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.socialmedia img{
    width: 25px;
}