:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-around;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

h2 {
    background-color: var(--accent2-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
}

.hero article {
    margin: 1px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    opacity: 0.80;
    color: black;
    font-family: var(--body-font);
    font-size: larger
}

.hero article img {
    float: right;
    width: 125px;

}

.grid {
    display: grid;
    grid-template-columns: 10rem 1fr;
    justify-content: center;
    align-items: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15px 1fr;
    justify-content: center;
    align-items: center;
}

.history h2 {
    grid-column: span 3;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.adventure figure {
    place-items: center;
}

.adventure h2 {
    grid-column: span 5;
    margin: 10px 0;
}

.contact-grid {
    width: 840px;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 350px 1fr;
    place-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    margin: 0;
    padding: 0;
}

.info1,
.info2,
.info3,
.info4,
.info5,
.info6 {
    width: 100%;
    margin: 5px;
    padding: 2px;
}

.info1 input,
.info2 input {

    width: 80%;
}

.info4 textarea {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: .2rem;
}

input {
    padding: 2px;
    border-radius: .2rem;
    width: 2rem;
}

th {
    max-width: 80px;
    font-weight: lighter;
}

td {
    padding: 5px 10px;
}

button {
    background-color: rgb(214, 217, 221);
    display: block;
    border: 2px solid rgb(0 0 0 / 10%);
    border-radius: .2rem;
    width: 100%;
    height: 2rem;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 10rem;

}

.employee h2 {
    grid-column: 1/4;
    margin-bottom: 10px;
    border: 5px solid rgb(0 0 0 / 10%);
}

.employee figure {
    display: grid;
    place-items: center;
}

.advertisement {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 35px 1fr 35px;
    padding: 5px;
    place-items: center;
    background-color: #e9c46a;
}

.advertisement a {
    background-color: rgb(74, 74, 236);
    color: white;
    padding: .5rem;
}

.index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.adventure2 {
    grid-column: 3/4;
    place-items: center;
    border: 5px solid var(--primary-color);
}

.newsletter {
    grid-column: span 3;
    margin: 15px 12rem;
    place-items: center;
    font-weight: bold;
    border: 5px solid var(--primary-color);
    background-color: lightblue;
}

.newsletter p {
    font-size: larger;
}

.newsletter .fullname input,
.newsletter .email input {
    width: 15rem;
}

.newsletter-button {
    width: 8rem;
}