:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

h2 {
    background-color: var(--accent2-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
}

.hero article {
    margin: 1px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    opacity: 0.80;
    color: black;
    font-family: var(--body-font);
    font-size: larger
}

.hero article img {
    float: right;
    width: 125px;

}

.grid {
    display: grid;
    grid-template-columns: 10rem 1fr;
    justify-content: center;
    align-items: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15px 1fr;
    justify-content: center;
    align-items: center;
}

.history h2 {
    grid-column: span 3;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.adventure figure {
    place-items: center;
}

.adventure h2 {
    grid-column: span 5;
    margin: 10px 0;
}