table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}

th,
td {

    border: 1px solid black;
    padding: 8px, 12px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;

}