* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
    
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #aba;
    /* write declarations here */
    /* flex used to center the paragraph content horizontally and vertically*/

}

.grid {
    display: grid;
    place-items: center;
    background-color: #abb;
    /* enter declarations here */
    /* Used grid  = place-items: center  =to center items*/

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* write declarations here */
    /* Used flex to place and wrap content*/

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; this is what I wrote and it worked
    but the following is what the teacher recomened. */
    grid-template-columns: 1fr 1fr 1fr;
    /* write declarations here */

}

.columns-3 {
    grid-column: span 3;
    /* also recomened = grid-column: 1/4; */

}

.three {
    margin: .25rem;
    background-color: #abd;
}