* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgba(3, 3, 3);
    --background-color: rgb(173, 173, 191);
}

header,
footer {
    max-width: 840px;
    margin: 0;
}

body {
    font: 16px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    border: var(--border);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    padding: 1rem;
    border-bottom: 5px dotted black;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

main {
    max-width: 640px;
    grid-column: 2/3;
}

aside {
    width: 35rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 15px;
    left: 80px;
}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--background-color);
    background-color: var(--background-color);
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}