* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgba(3, 3, 3);
    --background-color: rgb(25, 25, 102);
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    border: var(--border);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;

}

main {
    max-width: 55em;
}

aside {
    width: 35rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 15px;
    left: 80px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--background-color);
    background-color: var(--background-color);
    color: white;
}