:root {
    --border:1px solid rgba(0, 0, 0, 0.2);
    --margin: 1em;
    --padding: 10px;
    --color: black;

}


nav {
    background-color: #b0e0e6;
    padding: var(--padding);
    margin:1rem;
    border: var(--border);
    
}
nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}
h1{

    margin: 1rem;
    color: var(--color);
}
main img {
    margin: var(--margin);
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    margin: var(--margin);
    padding: var(--padding);
}
main {
    max-width: 840px;
}
aside {
    width:20rem;
    margin:var(--margin);
    border: var(--border);
    padding: 1rem;
    background-color: #b0e0e6;
    color: var(--color);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 1em;
    border-top: 1px dashed black;
    text-align: center;
}