:root {
    --border: 1px solid rgba(3, 3, 3);
    --background-color: rgb(25, 25, 102);
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    border: var(--border);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 55em;
}

aside {
    width: 35rem;
    margin: auto;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}