.callout {
    width: 100%;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    padding: 15px;
    background-color: rgb(20, 20, 127);
    color: wheat;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    padding: 3px;
    border: .2rem solid grey;
    background-color: white;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted grey;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}